<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
        <header>
          <h1>{{ title }}</h1>
        </header>
        <div id="content">
          {% block messages %}
            {% if get_flashed_messages() %}
              <div id="flash">
                {% for message in get_flashed_messages() %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
          {% endblock %}
          {% block content %}{% endblock %}
        </div>
    </div>
  </body>
</html>
