{% extends 'layout.html.j2' %}

{% block title %}Logga in{% endblock %}

{% block content %}
<div>
  <p>If you don’t already have an account, you can <a href="/register">register</a>.</p>
  <form action="/login" method="post">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input class="form-control" name="email" required="required" type="email"/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" name="password" required="required" type="password"/>
    </div>
    <button class="btn btn-default" type="submit">Log in</button>
  </form>
</div>
{% endblock %}
