{% extends 'layout.html.j2' %}

{% block title %}Register{% endblock %}

{% block content %}
<div>
  <p>If you already have an account, you can <a href="/login">log in</a>.</p>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input class="form-control" name="email" required="required" type="email"/>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" name="password" required="required" type="password"/>
    </div>
    <button class="btn btn-default" type="submit">Register</button>
  </form>
</div>
{% endblock %}
