{% extends 'layout.html.j2' %}

{% block title %}Recent activity{% endblock %}

{% block content %}
<div>
  <p>
    You’re logged in as <b>{{ email }}</b>.
    Do you want ot <a href="/logout">log out</a>?
  </p>
  {% if sessions %}
  <ul>
    {% for session in sessions %}
    <li>{{ session }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There’s no activity for this account.</p>
  {% endif %}
</div>
{% endblock %}
